.header2021 {
    background-image: url('../images/header2.jpeg');
    height: 90vh;
    
}
.welcome {
    position: absolute;
    top: 30vh;
    left: 38%;
    text-align: center;
    color: black;
    font-size: 100px;
}
.mouse {
    margin-top: 30vh;
}
.card, .plans {
    text-align: center;
    /* height: 25vh; */
}
.contactz {
    background-image: url('../images/header.jpeg');
    background-repeat: no-repeat;
    height: 400px;
}
.col {
    border: 12px black;
}
.formzi {
    width: 80%;
    /* display: none; */
}


.footer{
    text-align: center;
}